<style>
    /* стили для новогоднего оформления */

    .error-container {
        text-align: center;
        margin-top: 100px;
    }
    
    .error-image {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }
    
    .error-message {
        font-size: 24px;
        color: #ff0000;
        margin-bottom: 20px;
    }
    
    .home-link {
        font-size: 18px;
        color: #666666;
    }
</style>

{% extends 'base.html' %}
{% block lab %}Лабораторная работа 9{% endblock %}
{% block main%}
    <div class="error-container">
        <img src="/static/287aabd6c64136a3708fef483d4c9f23.gif" alt="Елка" class="error-image">
        <div class="error-message">Ошибка 404 - Страница не найдена</div>
        <a href="/lab9/index/" class="home-link">На главную страницу</a>
    </div>
{% endblock %}