<style>
    .current {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: #65d6e7;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

</style>

{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main%}
<ul style="margin-bottom: 50px;">
    <li class="current"><a href="/lab5/">Просмотреть заметки</a></li>
    <li class="current"><a href="/lab5/new_article">Создать заметку</a></li>
    <li class="current"><a href="/lab5/log">Логин</a></li>
    <li class="current"><a href="/lab5/register">Регистрация</a></li>
    <li class="current"><a href="">{{username}}</a></li>
</ul>

<div>
    <h1>{{ article_title }}</h1> 
    {% for paragraph in article_text %} 
    <p>{{ paragraph }}</p> 
    {% endfor %}
</div>

{% endblock %}