{% extends 'base.html' %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main%}

    <div style="margin: 0px 100px 20px 100px; font-size: 20px;"> 
        Чихуахуа  — собака-компаньон. Считается самой маленькой 
        собакой в мире и носит имя мексиканского штата Чиуауа. 
    </div>

    <img src='/static/chihua.jpeg'>
    
    <div style="margin: 0px 100px 20px 100px; font-size: 20px;"> 
        Джек-рассел-терьер – порода, ставшая символом
        ссобачьей энергии, жизнерадостности и преданности хозяину. 
        Это весёлый, неугомонный компаньон современного человека, 
        готового вести активный образ жизни и проводить со своим 
        питомцем всё свободное время.
    </div>

    <img src='/static/djeck.jpeg'>

    <div style="margin: 10px 100px 20px 100px; font-size: 20px;"> 
        Доберман – собака, самым удивительным образом сочетающая 
        в себе высокий интеллект и преданность, бесстрашие и бдительность, силу и грацию.
    </div>

    <img src='/static/dober.png' >
    
    <div style="margin: 0px 100px 20px 100px; font-size: 20px;"> 
        Неэмецкая овчарка - то служебная собака с уравновешенным, 
        подвижным типом поведения, поддающаяся к разнообразным видам дрессировки.
    </div>

    <img src='/static/nemetc.png' >

    <div style="margin: 0px 100px 20px 100px; font-size: 20px;"> 
        Померанский шпиц или миниатюрный шпиц — порода собак, 
        относящаяся к категории «Шпицы и породы примитивного 
        типа» по классификации МКФ. У померанского шпица мягкая 
        набивная пушистая шерсть, короткая небольшая мордочка и пушистый лоб.
    </div>

    <img src='/static/shpitc.png' >
{% endblock %}